.topnav
{
	overflow: hidden;
	background-color: darkslategray;
}
.topnav a
{
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 15px 20px;
	text-decoration: none;
}
.topnav a:hover
{
	background-color: white;
	color: black;
}
.topnav a.active
{
	background-color: brown;
	color: white;
}
.topnav .icon
{
	display: none;
}
html
{
	background-color: gray;
	font-size: 20px;
}
body, html
{
	height: 100%;
}
div.body
{
	background-color: slategray;
	padding: 10px;
	border: 2px solid darkslategray;
}
li
{
	margin-left: 20px;
}
