.topnav
{
	overflow: hidden;
	background-color: cyan;
}
.topnav a
{
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 15px 20px;
	text-decoration: none;
}
.topnav a:hover
{
	background-color: white;
	color: black;
}
.topnav a.active
{
	background-color: red;
	color: white;
}
.topnav .icon
{
	display: none;
}
html
{
	background-color: gray;
	font-size: 20px;
}
body, html
{
	height: 100%;
}
