div.body
{
	background-color: darkslategray;
	color: black;
	margin-top: 140px;
}
div.background
{
	background: url("../assets/home-background.png") no-repeat;
	filter: blur(2px);
	-webkit-filter: blur(2px);
	opacity: 0.5;
	height: 100%;
}
