.homepage-font
{
	color: black;
}
div.background
{
	background: url("../assets/home-background.png") no-repeat;
	filter: blur(2px);
	-webkit-filter: blur(2px);
	opacity: 0.5;
	height: 50%;
}
div.rss-background
{
	background-color: lightslategray;
	color: black;
	border: 2px solid darkslategray;
}
