.homepage-font
{
	color: black;
}
div.background
{
	background: url("../assets/home-background.png") no-repeat;
	filter: blur(2px);
	-webkit-filter: blur(2px);
	opacity: 0.5;
	max-height: 50%;
	height: auto;
}
div.rss-background
{
	background-color: slategray;
	color: black;
	font-size: 16px;
	border: 2px solid darkslategray;
}
.column
{
	float: left;
	width: 50%;
}
.row
{
	content: "";
	display: table;
	clear: both;
}
