ul, ol
{
	background: slategray;
	padding: 10px;
	border: 2px solid darkslategray;
}
li
{
	margin-left: 20px;
}
div.body
{
	background-color: slategray;
	color: black;
}
h1
{
	background-color: darkslategray;
	color: white;
	border: 2px solid lightslategray;
}
